@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

@font-face {
  font-family: Denominator;
  font-style: normal;
  font-weight: normal;
  src: url("Denominator.ttf") format('truetype');
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.background {
  background-color: black;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}


#widget-collection {
  display: flex;
}

.widget-button {
  border: 2px solid black;
  border-radius: 16px;
  line-height: 69px;
  font-size: 1.5em;
　　display: inline;
  width: 200px;
  height: 200px;
}

.date-input {
  width: 50px;
  height: 50px;
}

#graph {
  background-color: whites;
}

.graph-title {
  font-family: Roboto, sans-serif;
  font-size: 1.9em;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #333;
}

.graph-box {
  background-color: white;
  margin: 40px auto;
  padding: 0px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
  z-index: 95;
  opacity: 1;
}

.details {
  font-family: Roboto, sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  padding: 0px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
}

#github-container{
}

#github-container p {
  font-family: Denominator;
  font-size: 2em;
  text-align: center;
  color: white;
}
