@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

@font-face {
  font-family: Denominator;
  font-style: normal;
  font-weight: normal;
  src: url("Denominator.ttf") format('truetype');
}

body {
  padding: 0px;
}

#background {
  background-color: #47332B;
}

#content {
  margin-top: 80px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  width: 1000px;
}


#widget-collection {
  display: flex;
  margin-top: 10px;
}

.widget-button {
　　display: inline;
  height: 200px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
  background-color: #61453A;
}



.widget-button div {
　　font-family: Denominator;
  padding-left: 10px;
  padding-right: 10px;
}

#date-widget {
  display: flex;
}

#date-widget label {
  color: #EEE;
  font-family: Denominator;
}

#date-widget div {
  display: inline;
}

#control-widget div {
  display: flex;
}

#control-widget input {
  display: inline;
}

#top-row {
  display: flex;
}

#left-arrow {
  float: left;
  display: inline;
  cursor: pointer;
}

#right-arrow {
  float: right;
  display: inline;
  cursor: pointer;
}

search-btn-container {
  display: flex;
}

.search-btn {
  padding-left:5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #333;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
  color: white;
  display: inline;
  cursor: pointer;
}

#basic-addon1 {
  cursor: pointer;
}

#graph {
  background-color: #242424;
　　margin-left: auto;
  margin-right: auto;
  float: none;
}

#graph-box-container {
  border-radius: 5px;
}

.graph-title {
  font-family: Roboto, sans-serif;
  font-size: 1.9em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: #EEE;
  font-family: Denominator;
  
}



.details {
  font-family: Roboto, sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  padding: 0px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
}

#github-container{
}

#github-container p {
  font-family: Denominator;
  font-size: 2em;
  text-align: center;
  color: white;
}
