@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

@font-face {
  font-family: Denominator;
  font-style: normal;
  font-weight: normal;
  src: url("Denominator.ttf") format('truetype');
}

body {
  padding: 0px;
}

.background {
  background-color: black;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}


#widget-collection {
  display: flex;
}

.widget-button {
　　display: inline;
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}



.widget-button div {
　　font-family: Denominator;
  padding-left: 10px;
  padding-right: 10px;
}


#control-widget div {
  display: flex;
}

#control-widget input {
  display: inline;
}

#top-row {
  display: flex;
}

#left-arrow {
  float: left;
  display: inline;
  cursor: pointer;
}

#right-arrow {
  float: right;
  display: inline;
  cursor: pointer;
}

search-btn-container {
  display: flex;
}

.search-btn {
  padding-left:5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #333;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
  color: white;
  display: inline;
  cursor: pointer;
}

#basic-addon1 {
  cursor: pointer;
}

#graph {
  background-color: whites;
}

.graph-title {
  font-family: Roboto, sans-serif;
  font-size: 1.9em;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #333;
}

.graph-box {
  background-color: white;
  margin: 40px auto;
  padding: 0px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
  z-index: 95;
  opacity: 1;
}

.details {
  font-family: Roboto, sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  padding: 0px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
}

#github-container{
}

#github-container p {
  font-family: Denominator;
  font-size: 2em;
  text-align: center;
  color: white;
}
